@model Newegg.Marketplace.SDK.Order.Model.GetOrderInformationResponse
@{
    ViewData["Title"] = "Assignment 1: Newegg Order Information";
}

<div class="row">
    <div style="overflow-x:auto;">
        <table class="content-table">
            <tbody>
                <tr>
                    <th>Order Number</th>
                    <th>FirstName</th>
                    <th>Address1</th>
                    <th>ZipCode</th>
                    <th>CountryCode</th>
                </tr>
                
                @foreach (var item in @Model.ResponseBody.OrderInfoList)
                {
                <tr>
                    <td>@item.OrderNumber</td>
                    <td>@item.ShipToFirstName</td>
                    <td>@item.ShipToAddress1</td>
                    <td>@item.ShipToZipCode</td>
                    <td>@item.ShipToCountryCode</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
